<a href="https://colab.research.google.com/github/24JE0305/Feature_Extraction/blob/main/Feature_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## IMPORTING LIBRARY & DATA

In [3]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from datetime import datetime

In [4]:
df = pd.read_csv('anime.csv')

## FEATURE EXTRACTION

In [5]:
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

In [6]:
df['Title'].iloc[0]

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [7]:
df['Title'].iloc[1]

'Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473,707 members'

**We can see that data is clustered and seperated by '(' ')'**

Lets first extract eps from text

In [8]:
def extract_episodes(txt):
    data = ""
    checker = False
    for i in txt:
        if i == ')':
            checker= False
            break
        if checker  == True:
            data = data + i
        if i == '(':
            checker = True

    return data

In [9]:
df["Episodes"] = df['Title'].apply(extract_episodes)

In [10]:
df['Episodes'].head()

0    64 eps
1    24 eps
2    13 eps
3    51 eps
4    10 eps
Name: Episodes, dtype: object

In [11]:
df['Episodes'] = df['Episodes'].str.replace(" eps","").astype('int')
df['Episodes'].head()

0    64
1    24
2    13
3    51
4    10
Name: Episodes, dtype: int64

Let's do same for Time Stamp

In [12]:
def time_stamp_extract(txt):
    data = ""
    checker = False
    for i in range(len(txt)):
        if checker == True:
            for j in range(i,i+19):
                data = data + txt[j]
            break
        if txt[i] == ")":
            checker = True
    return data

In [13]:
df['Time_Stamp'] = df['Title'].apply(time_stamp_extract)

In [14]:
df['Time_Stamp'].head()

0    Apr 2009 - Jul 2010
1    Apr 2011 - Sep 2011
2    Oct 2022 - Dec 2022
3    Apr 2015 - Mar 2016
4    Apr 2019 - Jul 2019
Name: Time_Stamp, dtype: object

Now let's extract month from Time_stamp

In [15]:
def calculate_total_months(period):
    try:
        start_str, end_str = period.split(' - ')
        start_date = datetime.strptime(start_str, '%b %Y')
        end_date = datetime.strptime(end_str, '%b %Y')
        r = relativedelta(end_date, start_date)
        return r.years * 12 + r.months + 1  # +1 to include the starting month
    except:
        return None

df['Months'] = df['Time_Stamp'].apply(calculate_total_months)

In [18]:
df['Months'].head(10)

0    16
1     6
2     3
3    12
4     4
5    12
6     1
7    36
8     3
9     6
Name: Months, dtype: int64

In [17]:
df.head()

,Rank,Title,Score,Episodes,Time_Stamp,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4